
body{
    margin: 0;
    background-image: url("http://i1308.photobucket.com/albums/s611/neelambika11/image_zpsltvdf5ep.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}
.info{
	
    text-align: center;
}
.start,#continueCorrect,#continueWrong,#retry,#Submit1,#Submit2{
	margin-top: 1em;
	border-radius:18px;
	/*border:1px solid #d02718;*/
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-shadow:0px 1px 0px #810e05;
}
#question{
	margin-top:3em;
	float: right;
	position: relative;
}
.question1{
	background-color: #506DC7;
	display: none;
	position: fixed;
	color: white;
	width: 95em;
	height:28em;
	margin-left: 4em;
margin-top: 4.5em;
	
}
#pic1{
	margin-top: -12.5em;
}
#question h1{
	margin-right: .5em;
	/*margin-top: 5em;*/
}
#answer{
	
	/*margin-top: -11em;*/
	width: 15em;
	height: 5em;
	margin-left: 22em;
	font-size: 2em;
}
#submit{
	float: right;
	margin-top: -6em;

}
.number{
   
	margin-top: 1em;
	margin-left: 38em;
}
.number1{

	margin-top: -1em;
	margin-left: 65em;
}
#message1,#message2{
	
	width: 20em;
	height: 12em;
	
	margin-top: 4em;
	margin-left: 11em;
}
#message1{
	background-color:#BAD1C0;
}
#message2{
	background-color:#E0809B;
}
#correct{
	display: none;
	position: fixed;
background-image: url("http://i1308.photobucket.com/albums/s611/neelambika11/image_zpsltvdf5ep.jpg");
    background-repeat: no-repeat;
    background-size:cover;
font-size: 2em;
width: 100%;
height: 100%;

left: 0;
right: 0;
bottom: 0;
top: 0;

text-align: center;
vertical-align: middle;
}
.wrong{
	display: none;
	position: fixed;
background-image: url("http://i1308.photobucket.com/albums/s611/neelambika11/image_zpsltvdf5ep.jpg");
    background-repeat: no-repeat;
    background-size:cover;
font-size: 2em;

width: 100%;
height: 100%;

left: 0;
right: 0;
bottom: 0;
top: 0;

text-align: center;
vertical-align: middle;
}
.finish{
	position: fixed;
	display: none;
	background-image: url("http://i1308.photobucket.com/albums/s611/neelambika11/image_zpsltvdf5ep.jpg");
	background-size:cover;
	font-size: 2em;
	width: 100%;
height: 100%;

left: 0;
right: 0;
bottom: 0;
top: 0;
text-align: center;

}
#finish1{
	background-color: #BFD0D6;
	padding-top: 2em;

	width: 20em;
	height: 10em;
	
	margin-top: 4em;
	margin-left: 11em;
}




